<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

  <title>Brightness</title>
</head>

<body>

<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <a class="navbar-brand logo-font" href="#">
    <img src="http://www.emoji.co.uk/files/google-emojis/symbols-android/8052-high-brightness-symbol.png" width="30"
         height="30" alt="">
    Brightness
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/application-form">APPLICATION FORM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students-information-control-center">CONTROL CENTER</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron junbotron-fluid jumbotron-bg">
  <div class="jumbotron-text-bg p-3">
    <h1 class="display-4">Brightness Middle School</h1>
    <h4>Our lecturers are teachers, leaders, and friends. We believe that
      our students are the bright of future</h4>
    <hr class="my-4">
    <h4>Brightness Middle School is the right choice !</h4>
  </div>
</div>

<!--information about the school-->
<div class="container">
  <div class="card">
    <div class="card-body ">
      <div class="row justify-content-center align-items-center p-3">
        <div class="col-12 col-md-6">
          <h4>Welcome To Brightness Middle School</h4>
          <br>
          <h5>About : </h5>
          <p>Brightness Middle School was established in 14th sep 1986
            with total of 200 students and 25 teacher. It started as
            a small building and got bigger year by year ! the success of
            our students is the success of us. In Brightness Middle School,
            we fully care about the sound education path as well as
            about reinforcement the students ability,
            productivity, and creativity for the aim of graduate
            a bright generation.</p>
          <hr>
          <h4>General Information :</h4>
          <div id="containerIntro">
            <h5>Address : </h5>
            <p>Al-Karradah , 62 street</p>
            <br>
            <h5>Current Manager : </h5>
            <p> Mahmood AlYasery</p>
            <br>
            <h5>Applying Date : </h5>
            <p>1st Aug. each year</p>
          </div>
          <hr>
          <h5>For More Information contact us on :</h5>
          <p><i class="fas fa-envelope-square"></i> brightnessms.edu@gmail.com</p>
          <p><i class="fas fa-phone"></i> 009647701234567</p>
        </div>
        <div class="col-12 col-md-6 vl">
          <img class="rec-size"
               src="http://www.joshuaisd.org/cms/lib3/TX21000353/Centricity/ModuleInstance/5570/large/girls%20cafeteria%20flute.jpg?rnd=0.432891429137854"
               alt="">
          <img class="rec-size"
               src="https://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/assets/v3/editorial/9/d5/9d557626-7d45-11e3-8581-0019bb30f31a/52d57b3710dc8.image.jpg?resize=720%2C366"
               alt="">
          <img class="rec-size"
               src="https://www.bssd.net/cms/lib/MO01910299/Centricity/ModuleInstance/21597/DSC02682.JPG"
               alt="">
          <img class="rec-size"
               src="https://www.d49.org//cms/lib/CO01900838/Centricity/Domain/32/D49_2034_sw.jpg"
               alt="">
          <img class="rec-size"
               src="https://www.gaston.k12.nc.us/cms/lib/NC01911153/Centricity/ModuleInstance/14370/Grier%20teacher%20in%20classroom.jpg"
               alt="">
          <img class="rec-size"
               src="http://charlestonempowered.com/wp-content/uploads/2016/11/20161102_101039_Palmetto_Commerce_Parkway-header-1030x382.jpeg"
               alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<!--page footer-->
<footer class="text-muted mt-4 list-background bg-light p-2">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Copyright © 2008-2018 Lemonjuice, Inc. All rights reserved. give us feedback on <a href="http://gmail.com">lemonjuice@gmail.com</a>
    </p>
    <p> contact us on facebook at <a href="http://www.facebook.com">LemonJuice
      </a> or visit our <a href="http://www.twitter.com">twitter account</a></p>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>